.backdrop {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: slide-up-fade-in 0.3s ease-out forwards;
  }